{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .row-bordered:after {
            content: "" !important;
            display: block !important;
            border-bottom: 1px solid #ccc;
        }
    </style>
{% endblock %}

{% block body %}
    <h1 class="text-center">Business Finder</h1>
    <br>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-3 text-center">
            </div>
            <div class="col-md-6 text-center">
                <div class="form-group">
                    {{form_widget(form.pesquisa, { 'attr': {'class': 'form-control'}}) }}
                </div>
                {{form_widget(form.search, { 'attr': {'class': 'btn btn-primary'} }) }}
            </div>
        </div>
        {% if pagination is defined %}

            {% for empresa in pagination %}
                <div class="row">
                    <div class="col-md-3 text-center">
                    </div>
                    <div class="col-md-6 row-bordered">
                        <h4>{{ empresa.title }}</h4>
                        <p>IN
                            {% for categoria in empresa.categoria %}
                                {%  if loop.last %}
                                    {{ categoria.name }}
                                {% else  %}
                                    {{ categoria.name }},
                                {% endif %}
                            {% endfor %}
                            <a href="{{ path('view_company', {id:empresa.id}) }}" class="pull-right"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                        </p>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-3 text-center">
                </div>
                <div class="col-md-6 text-center">
                    {# display navigation #}
                    <ul class="pagination">
                        {{ knp_pagination_render(pagination) }}
                    </ul>
                </div>
            </div>


        {% endif %}

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        document.getElementById("search").removeAttribute("name");
    </script>
{% endblock %}
