{% extends 'base.html.twig' %}

{% block body %}
    <a class="text-center" style="color: #333; text-decoration: none !important;" href="{{ path('homepage') }}">
        <h1>Business Finder Admin</h1>
    </a>
    <div class="row">
        <div class="col-md-3 text-center">
        </div>
        <div class="col-md-6">
            <h4>{{ empresa.title }}</h4>
            <p>IN
                {% for categoria in empresa.categoria %}
                    {%  if loop.last %}
                        {{ categoria.name }}
                    {% else  %}
                        {{ categoria.name }},
                    {% endif %}
                {% endfor %}
            </p>

            <h3>About</h3>
            <p>{{ empresa.description }}</p>
            <p>Address: {{ empresa.address }}, {{ empresa.city }}-{{ empresa.state }}, {{ empresa.cep }}   </p>
            <p>Phone: {{ empresa.phone }}</p>
        </div>
    </div>
{% endblock %}

