{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <a class="" href="{{ path('admin_home') }}">
                <h1>Business Finder Admin</h1>
            </a>
        </div>
    </div>
    {{ form_start(form) }}

    <div class="form-group">
        {{form_label(form.title)}}
        {{form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{form_label(form.phone)}}
        {{form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="form-group">
        {{form_label(form.address)}}
        {{form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{form_label(form.cep)}}
                {{form_widget(form.cep, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{form_label(form.city)}}
                {{form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{form_label(form.state)}}
                {{form_widget(form.state, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{form_label(form.description)}}
                {{form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                {{form_label(form.categoria)}}
                {{form_widget(form.categoria, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
                {{form_widget(form.save, { 'attr': {'class': 'btn btn-success'} }) }}
        </div>
    </div>



    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

