{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12"><h1>Business Finder Admin</h1></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary pull-right " href="{{ path('empressa_add') }}">
                New Company
            </a>
            <a class="btn btn-danger pull-right " style="margin-right:5px; " href="/logout">
                Logout
            </a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Company</th>
        </tr>
        </thead>
        <tbody>
            {% for article in pagination %}
                <tr {% if loop.index is odd %}class=""{% endif %}>
                    <td>{{ article.id }}
                    <td>{{ article.title }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12"></div>
            {# display navigation #}
            <ul class="pagination">
                {{ knp_pagination_render(pagination) }}
            </ul>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
